<!DOCTYPE HTML>
<html xmlns:th="https://thymeleaf.org">
<head>
	<title>Entries</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css}"/>
</head>

<body>
	<a href="/add" th:fragment="addEntryButton">
		<button 
			class="rounded-circle bg-primary text-light" 
			style="position: fixed; bottom: 8vh; right: 10vw; width: 4rem; height: 4rem; z-index: 100; border: none;"
		>
			<i class="fa-solid fa-plus fs-3 fw-bold"></i>
		</button>
	</a>	
</body>
</html>